export(optimize)
export(solve)
S3method(summary,OptimResPAROPT)
S3method(summary,SolverResPAROPT)
importFrom(Rcpp,evalCpp)
importFrom(methods, formalArgs)
importFrom(RcppThread, detectCores)
importFrom(rlang, ensym)
importFrom(rlang, as_string)
useDynLib(paropt, .registration = TRUE)
